@{
    ViewBag.Title = "rules";
}

@{
    ViewBag.Title = "rules";
}
@{
    Layout = "~/Views/Shared/cus_lay.cshtml";
}
<div id="wrapper">


    <div class="info">
        <section class="widecolumn">
            <h1>Shop safely</h1>

            <ul class="bullets">

                <li class="list">Never pay in advance to the seller that you do not know.</li>
                <li class="list">Even if the seller discloses their personal information or bank account number, this does not protect you from being cheated.</li>
                <li class="list">Where possible, request original receipt and a written receipt for the purchase.</li>
                <li class="list">Never send the goods before payment arrangements have been finalised.</li>
            </ul>
            <br>
            <h2>Take extra caution when...</h2>
            <ul class="bullets">

                <li class="list">The offer sounds too good to be true.</li>
                <li class="list">The other party keeps pushing you to complete the deal.</li>
                <li class="list">Someone asks for your bank account or credit card number.</li>
                <li class="list">Paying large amounts to people you don't know. Try to meet up at a shop or at a public place.</li>
                <li class="list">Buying branded items. It is always advisable to meet up with the buyer at a shop and check the authenticity of the item.</li>
            </ul>
            <br>
            <br>
        </section>
        <aside class="sidecolumn">
            <strong>Shop Safely</strong>
            <ul class="bullets">
                <li class="list">


                </li>
                <li class="list">
                    <a href="/ad/s_goods">When sending goods</a>

                </li>
                
                <li class="list">
                    <a href="/ad/vehicles">Vehicles</a>

                </li>
                <li class="list">
                    <a href="/ad/BrandItem">Branded items and software</a>

                </li>
                <li class="list">
                    <a href="/ad/SendingAbroad">Sending money or goods abroad</a>

                </li>
                <li class="list">
                    <a href="/ad/Tmoney">Transferring money</a>

                </li>
                <li class="list">
                    <a href="/ad/contactUs">Contact US</a>

                </li>
            </ul>
            <br>
            <br>
            <div class="shopsafely">
            </div>

        </aside>
    </div>


</div>



