@{
    ViewBag.Title = "rules";
}

@{
    ViewBag.Title = "rules";
}
@{
    Layout = "~/Views/Shared/cus_lay.cshtml";
}
<div id="wrapper">


    <div class="info">
        <section class="widecolumn">
            <h1>Money and goods sent abroad</h1>
            <p>Beware of so-called Nigerian letters. We advise you to ignore any request where the buyer asks you to send products abroad. These buyers usually want to commit fraud.</p>
            <p>
                <strong>How do I know that I received a so-called Nigeria letter?</strong>
            </p><ul class="bullets">
                <li class="list">These letters are often not written in correct English.</li>
                <li class="list">The letters often include the word "products" (or goods, the item, etc). Since they are standard letters, they don't specify further.</li>
                <li class="list">These letters are generally sent from a free e-mail address, for example: Yahoo, Gmail, Hotmail.</li>
                <li class="list">These letters are tempting, because they usually offer more money for the product than you request.</li>
                <li class="list">The buyer is usually willing to pay by check, or a non-existent account.</li>
                <li class="list">In some cases, the fraudster sends a fake proof of payment, which looks as if the money would be transferred to your account.</li>
            </ul>
            <p></p>
            <p>&nbsp; </p>
            <p><strong>What can you do to protect yourself?</strong> The Nigeria letters to wants to get money or goods sent overseas. Do not participate in such transactions, since they are very often frauds</p>
            <p>&nbsp;</p>
            <p>
            </p><h2>Do not hurry...</h2>
            <ul class="bullets">
                <li class="ListChecked">Be careful with e-mails where the buyers ask for money to be sent abroad.</li>
                <li class="ListChecked">Do not accept checks.</li>
                <li class="ListChecked">Be careful of false certificates of payment.</li>
            </ul>
            <p></p>
        </section>



        <aside class="sidecolumn">
            <strong>Sending money or goods abroad</strong>
            <ul class="bullets">
                <li class="list">

                    <a href="/ad/rules"> Shop Safely</a>

                </li>
                <li class="list">
                    <a href="/ad/s_goods">When sending goods</a>

                </li>

                <li class="list">
                    <a href="/ad/vehicles">Vehicles</a>

                </li>
                <li class="list">
                    <a href="/ad/BrandItem">Branded items and software</a>

                </li>
                <li class="list">
                    <a href="/ad/Tmoney">Transferring money</a>

                </li>
                <li class="list">
                    <a href="/ad/contactUs">Contact US</a>

                </li>

                </li>
            </ul>
            <br>
            <br>
            <div class="shopsafely">
            </div>

        </aside>
    </div>


</div>



