@{
    ViewBag.Title = "rules";
}

@{
    ViewBag.Title = "rules";
}
@{
    Layout = "~/Views/Shared/cus_lay.cshtml";
}
<div id="wrapper">


    <div class="info">
        <section class="widecolumn">
            <h1>Branded items and software</h1>
            <p>Sometimes it is difficult to determine whether a product is genuine or fake, therefore certain categories are required to declare the originality of the product. Although Asani.com.pk prohibits non-genuine software &amp; brand imitations, some sellers manage to pass our reviews</p>
            <p>
                <strong>When you buy...</strong>
            </p><ul class="bullets">
                <li class="list">Ask for the original receipt to make sure it's not a fake.</li>
                <li class="list">If there is no receipt, ask the seller for authenticity documents.</li>
                <li class="list">Immediately report to us if you suspect that the product is not genuine/a counterfeit.</li>
                <li class="list">If you get cheated, please always let us make a police complaint. Asani.com.pk operates together with the police and will provide them with the info necessary.</li>
            </ul>
            <p></p>
            <p>&nbsp; </p>
            <p>
                <strong>When you sell...</strong>
            </p><ul class="bullets">
                <li class="list">Make sure the purchaser is satisfied with the authenticity of the item.</li>
                <li class="list">If you sell a fake item as original the law enforcement will take legal action against you.</li>
            </ul>
            <p></p>
            <p>&nbsp; </p>
            <p>
            </p><h2>Don't forget to...</h2>
            <ul class="bullets">
                <li class="ListChecked">Ask for the original receipt.</li>
                <li class="ListChecked">Prove the authenticity of the product.</li>
                <li class="ListChecked">Counterfeit or pirate goods are prohibited in Asani.com.pk</li>
            </ul>
            <p></p>
        </section>


        <aside class="sidecolumn">
            <strong>Vehicles</strong>
            <ul class="bullets">
                <li class="list">

                    <a href="/ad/rules"> Shop Safely</a>

                </li>
                <li class="list">

                </li>

                <li class="list">
                    <a href="/ad/s_goods">While selling Goods</a>

                </li>
                <li class="list">
                    <a href="">Branded items and software</a>

                </li>
                <li class="list">
                    <a href="">Sending money or goods abroad</a>

                </li>
                <li class="list">
                    <a href="">Transferring money</a>

                </li>
                <li class="list">
                    <a href="">Protect yourself</a>

                </li>
            </ul>
            <br>
            <br>
            <div class="shopsafely">
            </div>

        </aside>
    </div>


</div>


<a href="/ad">BACK TO LIST</a>
