@{
    ViewBag.Title = "rules";
}

@{
    ViewBag.Title = "rules";
}
@{
    Layout = "~/Views/Shared/cus_lay.cshtml";
}
<div id="wrapper">


    <div class="info">
        <section class="widecolumn">
            <h1>Transfer of funds via the Internet</h1>
            <p>If you pay for items online, beware of the so-called "scams" or "phishing attacks". This means that someone tries to cheat and trick you in order to obtain confidential information such as passwords, bank account numbers, credit card number etc.</p><p>Trusted web sites never ask for your confidential information through e-mails. When you receive such e-mails they often lead you to fraudulent web sites that are designed to look similar to the original ones and have the purpose of cheating you and obtaining confidential info such as passwords and credit card numbers.</p><p>Do not click on links in an e-mail purporting to be from a bank or other financial institution.</p>
        </section>



        <aside class="sidecolumn">
            <strong>
                Transferring money
         </strong>
            <ul class="bullets">
                <li class="list">

                </li>
                <li class="list">
                    <a href="/ad/s_goods">When sending goods</a>

                </li>

                <li class="list">
                    <a href="/ad/vehicles">Vehicles</a>

                </li>
                <li class="list">
                    <a href="/ad/BrandItem">Branded items and software</a>

                </li>
                <li class="list">
                    <a href="/ad/SendingAbroad">Sending money or goods abroad</a>

                </li>
                
                <li class="list">
                    <a href="/ad/contactUs">Contact US</a>

                </li>
            </ul>
            <br>
            <br>
            <div class="shopsafely">
            </div>

        </aside>
    </div>


</div>


