@{
    ViewBag.Title = "rules";
}

@{
    ViewBag.Title = "rules";
}
@{
    Layout = "~/Views/Shared/cus_lay.cshtml";
}
<div id="wrapper">


    <div class="info">
        <section class="widecolumn">
            <h1>Vehicles</h1>
            <p>
                <strong>When you buy...</strong>
            </p><ul class="bullets">
                <li class="list">Check that the seller actually owns the vehicle.</li>
                <li class="list">Always check the car's origin before you purchase.</li>
                <li class="list">Refer to vehicle service manual to verify the authenticity and the speedometer reading.</li>
                <li class="list">Check the vehicle with an independent mechanic.</li>
                <li class="list">Use a purchase contract.</li>
            </ul>
            <p></p>
            <p>&nbsp; </p>
            <p>
                <strong>When you sell...</strong>
            </p><ul class="bullets">
                <li class="list">Ask the buyer to prove his or her identity.</li>
                <li class="list">Be aware of that sometimes car salesmen promise to sell the car for you and pay you a small advance. Then they disappear with the car.</li>
                <li class="list">Make sure that the full payment is received before you hand over the vehicle.</li>
                <li class="list">Be aware of that foreign fraudsters often use foreign bank transfers and checks as payment method.</li>
                <li class="list">Always use a purchase contract.</li>
            </ul>
            <p></p>
            <p>&nbsp; </p>
            <p>
            </p><h2>Don't forget to...</h2>
            <ul class="bullets">
                <li class="ListChecked">Check for identity cards before you let the buyer try the car.</li>
                <li class="ListChecked">Be cautious of any false documents.</li>
                <li class="ListChecked">Check your vehicle's service manual.</li>
            </ul>
            <p></p>
        </section>

        <aside class="sidecolumn">
            <strong>Vehicles</strong>
            <ul class="bullets">
                
                <li class="list">
                    <a href="/ad/s_goods">When sending goods</a>

                </li>

                <li class="list">
                    <a href="/ad/vehicles">Vehicles</a>

                </li>
                <li class="list">
                    <a href="/ad/BrandItem">Branded items and software</a>

                </li>
                <li class="list">
                    <a href="/ad/SendingAbroad">Sending money or goods abroad</a>

                </li>
                <li class="list">
                    <a href="/ad/Tmoney">Transferring money</a>

                </li>
                <li class="list">
                    <a href="/ad/contactUs">Contact US</a>

                </li>            </ul>
            <br>
            <br>
            <div class="shopsafely">
            </div>

        </aside>
    </div>


</div>


<a href="/ad">BACK TO LIST</a>
