<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8" />
    <title>PakSell</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/index.css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <header class="" style="background-color: #4c66a4; width:1349px;height:47px;">
        <img id="logo" class="logo sprite logo" src="/Images/logo1.png" height="70" width="400" />


        <nav class="mainnav nohistory">
            <ul>
                <!--  + '' + '6' + '1' -->



                <li id="header_ai" class="ai"><a rel="nofollow" href="/ad/Create" style="color:white;">Insert Ad</a></li>

                <li id="header_li"><a href="/ad" style="color:white">Search for Ads</a></li>

                <li id="header_customer_service" class="customer_service"><a href="/ad/rules" style="color:white;">Customer Service</a></li>

                <li class="vline"></li>
                <li class="no_padding"><a rel="nofollow" id="header_login" href="/Regester/login" style="color:white;">Log in</a></li>
                <li class="last no_padding"><a rel="nofollow" id="header_create_account" href="/Regester/Register" class="greybtn">Create account</a></li>



            </ul>


        </nav>

    </header>


    <div class="main clearfix">



        <h1>Buy and sell anything near you Smartely!</h1>
        <p>
            Thousands of people use PakSell every day to buy and sell

            <a id="category_text_5010"  class=" cat-link">Phones</a>,

            <a id="category_text_2010"class="cat-link">cars</a>,

            <a id="category_text_3020"  class="cat-link">furniture</a>,

           

            and you can too!
        </p>











        <div class="main clearfix">
            <div class="left clearfix">

                <div class="locations clearfix" id="locations">
                    <p>Just select your city or region to find great deals!</p>
                    <div class="location_list">
                        <h3>Cities:</h3>
                        <ul>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Karachi"
                                   class="city">
                                    Karachi
                                    <span>
                                        کراچی
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Lahore"
                                   class="city">
                                    Lahore
                                    <span>
                                        لاہور
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Islamabad"
                                   class="city">
                                    Islamabad
                                    <span>
                                        اسلام آباد
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Rawalpindi"
                                   class="city">
                                    Rawalpindi
                                    <span>
                                        راولپنڈی
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Faisalabad"
                                   class="city">
                                    Faisalabad
                                    <span>
                                        فيصل آباد
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Peshawar"
                                   class="city">
                                    Peshawar
                                    <span>
                                        پشاور
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Multan"
                                   class="city">
                                    Multan
                                    <span>
                                        ملتان
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Hyderabad"
                                   class="city">
                                    Hyderabad
                                    <span>
                                        حیدرآباد
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Gujranwala"
                                   class="city">
                                    Gujranwala
                                    <span>
                                        گوجرانوالہ
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=Quetta"
                                   class="city">
                                    Quetta
                                    <span>
                                        کوئٹہ
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="location_list">
                        <h3>Regions:</h3>
                        <ul>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=&pro=Punjab"
                                   class="region">
                                    Punjab<span>
                                        پنجاب
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=&pro=Sindh"
                                   class="region"
                                   id="region_7"
                                   data-location-id="7">
                                    Sindh<span>
                                        سندھ
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=&pro=Khyber"
                                   class="region">
                                    Khyber Pakhtunkhwa<span>
                                        خیبر پختونخوا
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=&pro=Blochistan" 
                                   class=" region">
                                    Balochistan<span>
                                        بلوچستان
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=&pro=Fata"
                                   class=" region">
                                    FATA<span>
                                        فاٹا
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=&pro=Azad"
                                   class=" region">
                                    Azad Kashmir<span>
                                        آزاد کشمیر
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="/ad?searchString=&catagory=&Area=&pro=Gilgit"
                                   class=" region">
                                    Gilgit-Baltistan<span>
                                        گلگت - بلتستان
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div><!-- left -->
            <div class="map" id="map_container">
                <svg version="1.1" id="map_pk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300" height="290" viewBox="0 0 300 290" enable-background="new 0 0 300 290" xml:space="preserve">
			
                <path fill="#55A84C" class="region" id="map_region_1" data-location-id="1" d="M238.337,51.129c0.344-4.01-3.756-7.335-8.488-8.614c-4.77-1.289-10.508,0.066-10.508,0.066s0.169,1.462-2.305,3.562c-2.878,2.442-7.853,4.92-6.63,12.614c3.315,20.803,12.031,24.007,12.031,24.007s6.037-3.66,1.831-7.625c-6.417-6.049,3.694-3.662,2.342-8.869c-1.816-1.157-3.631-1.103-5.447,0.162c0.989,0.89-0.134-7.508-2.715-5.765C211.011,49.247,233.104,49.798,238.337,51.129z" />




			
                <path fill="#55A84C" class="region" id="map_region_2" data-location-id="2" d="M128.661,119.469c3.628-1.356,5.15,5.288,9.008,3.2c3.364-1.822,3.112-5.927,5.742-7.858c10.716-7.866,10.018,7.92,16.971,8.23c2.547,7.626-0.323,20.839-2.838,27.462c-0.668,2.142-1.903,3.897-3.7,5.269c-4.502,5.208-3.566,23.903-3.566,23.903c-4.384,1.811-10.642,1.246-14.273,2.255c-8.265,2.296-15.584,8.656-21.171,19.522c-9.324,18.134,18.823,30.868-5.755,48.195c0,0-2.106-4.448-13.214-3.067c-9.74,1.21-19.044,4.908-28.726,6.532c-11.322,1.899-24.668,1.728-36.65,5.681c-3.867,1.277-8.841,0.478-8.841,0.478s-0.917-8.595,1.535-15.015c2.788-7.301,8.543-12.614,16.325-14.119c8.201-1.587,7.938-2.47,7.193-11.521c-0.294-3.576-6.093-0.487-7.741-0.994c0.572-14.738-2.174-20.354-15.751-23.197c-10.449-2.188-13.865-18.416-22.251-24.687c26.608,6.669,53.018,7.725,76.928-1.623c4.92-1.922,17.166-1.931,17.399-9.442c0.25-8.092-3.74-13.684,2.145-21.217c7.047-9.025,10.977-0.283,18.956-7.181C119.806,127.319,119.004,123.083,128.661,119.469C130.609,118.74,121.293,122.226,128.661,119.469z" />




			
                <path fill="#55A84C" class="region" id="map_region_3" data-location-id="3" d="M175.813,49.854c4.877,4.256,9.591,18.006,5.233,22.009c-1.613,1.481-10.414,3.078-12.123,3.816c-7.837,3.389-3.708,8.827-2.416,10.411c-1.549,0.481-2.012,1.666-3.311,2.65c-2.98,6.174,3.759,8.556-1.698,12.232c-8.146,5.486-2.356,15.42-1.325,19.754c-2.699,1.199-6.829-17.186-16.923-7.882c0.358-6.394,0.591-14.926,4.3-20.395c6.466-9.528,12.335-8.217,3.636-20.915c4.785,3.096,20.612,1.478,20.023-7.088C170.714,57.207,168.574,56.822,175.813,49.854z" />




			
                <path fill="#55A84C" class="region" id="map_region_4" data-location-id="4" d="M217.02,42.017c0.25,2.632-5.136,5.041-7.479,8.265c-2.946,4.057-0.101,13.585-0.101,13.585s-6.809,0.708-9.339,2.047c-2.025,1.07-3.792-0.438-6.229-0.677c-4.939-0.486-5.859,5.286-7.823,10.104c-1.734,4.263-3.59,8.528-4,10.193c-5.529-0.927-11.509,2.356-6.025,15.015c-7.797,9.095-4.512,15.534-5.911,17.487c-1.734,2.416-4.218,4.532-6.745,5.149c-1.619-8.505-4.352-11.747-3.787-15.126c0.565-3.381,3.385-6.528,7.412-8.478c-1.675-3.141-6-8.639,2.461-13.011c-10.342-9.533,6.165-10.339,10.876-11.856c10.11-3.252,0.584-23.678-3.695-26.824c7.382-9.097-8.164-18.004-7.013-21.324c3.306-9.544,17.094-16.751,26.104-19.24c-0.537,0.148,12.283-1.674,12.283-1.674c2.514,5.246-9.36,0.099-10.832,6.526c-1.27,5.535-8.722,6.162-7.445,12.787c1.137,5.895,20.979,5.881,21.438,8.503c0.461,2.622-0.632,3.239,0.977,5.357C213.423,40.505,216.907,40.852,217.02,42.017z" />




			
                <path fill="#55A84C" class="region" id="map_region_5" data-location-id="5" d="M277.565,32.372c-5.613,1.014-15.915-3.635-14.936-10.361c-9.412,11.671-9.745-7.549-9.957-11.498c-0.387-7.181-10.172-5.105-14.452-8.485c-7.566-5.974-19.611,4.163-28.266,3.465c1.272,5.042-4.469,4.171-7.274,4.646c-5.049,0.854-2.497,3.374-6.14,6.434c-10.438,8.771-1.529,10.486,0.476,11.12c2.007,0.634,12.186,2.604,14.56,3.458c2.982,1.074,0.755,3.955,1.942,5.745c1.801,2.713,5.863,3.726,5.863,3.726s4.781-1.253,9.486-0.353c6.049,1.158,12.601,5.177,11.49,11.53c6.977,1.665,13.206,0.371,19.213-3.211c1.428-0.853,10.583-6.188,12.853-8.348S276.354,36.699,277.565,32.372z" />




			
                <path fill="#55A84C" class="region" id="map_region_6" data-location-id="6" d="M213.045,75.151c-0.694-2.47-3.205-9.245-3.205-9.245s-5.932-0.496-9.63,1.915c-2.122,1.384-7.367-1.96-9.154,0.381c-1.786,2.342-6.528,17.287-7.699,18.667c-1.056,1.246-5.721-0.231-6.837,2.886c-1.472,4.095,2.131,11.895,2.344,11.677c-3.684,3.755-6.131,10.268-5.982,15.594c0.183,6.47-9.559,5.958-9.15,11.918c0.587,8.555-0.623,22.015-8.004,28.916c-2.932,2.74-2.522,10.533-2.881,21.267c5.868-3.393,12.268,15.518,22.919,16.199c21.638,1.382,23.412-17.893,36.225-29.602c2.716-2.484,4.438-15.367,5.473-15.904c8.78-4.547,5.272-6.379,9.82-12.811c2.024-2.907,4.224-5.675,6.594-8.307c5.058-5.412-0.094-6.468-0.032-13.512c0.058-6.501,14.935-13.338,14.295-15.398c-4.715-2.597-6.351-2.064-9.364-3.271c-1.164-0.468-3.799-5.371-3.389-6.798C230.243,90.504,215.827,85.083,213.045,75.151z" />




			
                <path fill="#55A84C" class="region" id="map_region_7" data-location-id="7" d="M185.114,253.932c-2.949,3.74,5.537,7.155-1.817,9.592c-6.384,2.116-7.444-4.181-13.925,0.38c-2.252,12.09-22.697-9.081-23,8.358c-3.402-0.562-6.184,0.457-8.345,3.051c-4.23,5.074-5.343-2.255-9.456,1.725c-7.914-7.665-13.041-19.898-18.05-25.726c5.5-5.217,11.219-7.964,11.43-16.438c0.192-7.714-5.571-15.846-6.568-24.254c-1.061-8.959,12.449-24.348,21.456-26.234c5.548-1.164,10.818-0.818,16.037-2.986c3.756-1.559,10.064,10.025,13.936,11.863c-3.563,4.246-21.326,25.858-7.038,27.578c13.854,1.671,1.108,6.816,9.489,14.942c2.623,0.577,5.276,0.825,7.963,0.746C178.194,243.324,181.922,248.153,185.114,253.932C182.624,257.092,182.65,249.472,185.114,253.932z" />




			
                <path fill="#55A84C" class="region" id="map_region_8" data-location-id="8" d="" />




			
                <path fill="#bfbebe" d="M260.352,78.211c0.073,4.846-7.659,7.74-6.838,10.529c1.607,5.461-3.574,8.854-3.574,8.854s-1.979-1.43-4.54-1.671c-8.22-0.771-5.975-4.754-8.98-8.519c-3.019,0.523-10.6-1.403-11.965-3.213c7.746-7.131,0.054-9.746-0.034-11.576c-0.084-1.771,5.617-1.874,4.023-6.881c-0.818-2.573-5.51-1.928-5.473-2.147c0.648-3.93-5.458-4.402-4.048-7.919c0.821-2.052,6.065-3.459,12.147-3.113c5.171,0.294,12.139,2.145,18.385,1.796c7.959-0.443,11.593-4.699,14.98-6.195c14.058-6.211,15.198-15.218,15.198-15.218s9.8,5.843,13.073,9.693c12.831,15.094,7.512,34.054-6.477,46.082C283.341,81.551,268.876,83.087,260.352,78.211"></path>
                <path fill="#67b4d7" d="M22.02,262.63l0.369,8.803c0,0,19.644-6.027,39.623-7.427c18.773-1.314,27.631-6.684,37.142-4.281c4.291,1.085,5.842,7.12,10.047,11.917c5.117,5.834,9.377,12.708,9.377,12.708l6.811-5.953c-12.097-13.548-14.859-26.73-23.061-27.754c-14.753-1.841-21.814,3.058-33.482,4.814c-5.396,0.812-14.306,1.299-22.044,2.361C39.062,258.887,28.55,263.074,22.02,262.63z"></path>
		</svg>
                <!--[if lt IE 9]>
                <img id="map_overlay" src="/img/map_pk.png" width="395" height="382" usemap="#pk_imagemap" />
                <![endif]-->
                <map name="pk_imagemap"></map>
                <div class="map-helper" id="map_helper"></div>
                <div class="map-marker" id="map_marker"></div>
            </div>
        </div>
    </div>
    <footer>

        <nav class="footer_nav">
            <ul>
                <li><a class="first" href="ad/rules"> Customer Service </a></li>
                <li><a href="ad/rules"> Shop safely </a></li>
                <li><a href="ad/rules"> Rules </a></li>
                <li><a href="ad/rules"> About PakSell.com.pk </a></li>

                <li class="social">
                <li class="social">
            </ul>
        </nav>
        <div class="social_buttons">

            <div id="likebtn">
                <i class="sprite_fb_like" id="index_fb_like_button"></i>

            </div>




            @RenderBody()
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
</body>
</html>
